<h1>編集</h1>

<%= form_with model: @event, url:event_path(@event.id), method: :patch do |f| %>

  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

    <div class="time">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>


  <div class="update">
    <%= f.submit %>
  </div>

<% end %>