<div class="container">
    <div class="row my-3 mx-3">
      <h5 class="border-success border-bottom"><%= @food.start_time %></h5>
    </div>
    <div class="row">
      <table>
        <tr>
          <th class="px-3 py-1">朝食</th>
          <td><%= @food.morning %></td>
        </tr>
        <tr>
          <th class="px-3 py-1">昼食</th>
          <td><%= @food.noon %></td>
        </tr>
        <tr>
          <th class="px-3 py-1">夕食</th>
          <td><%= @food.night %></td>
        </tr>
        <tr>
          <th class="px-3 py-1">メモ</th>
          <td><%= @food.memo %></td>
        </tr>
      </table>
    </div>

  <div class="row mt-5">
    <%= link_to '編集', edit_food_path(@food.id), class: "btn btn-outline-success mr-1"  %>
    <%= link_to '削除', food_path(@food), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-success mr-1"  %>
    <%= link_to '戻る', root_path, class: "btn btn-outline-success" %>
  </div>
</div>
